<div class="example-button-container">
  <button class="btn btn-primary btn-embossed" type="button" {{action "openFlytoDialog"}}>Open Moving Modal</button>
</div>

{{#if showFirstFlytoDialog}}
  <LiquidTether @to="flyto-dialog" @target="document.body" @targetModifier="visible" @attachment="top left" @targetAttachment="top left" @offset="-20px -20px" @tetherClass="modal-dialog" @overlayClass="modal-backdrop">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Header</h4>
      </div>

      <div class="modal-body">
        <p>Here's a modal!</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default btn-embossed" type="button" {{action "closeFlytoDialog"}}>Cancel</button>
        <button class="btn btn-primary btn-embossed" type="button" {{action "nextFlytoDialog"}}>Next</button>
      </div>
    </div>
  </LiquidTether>
{{/if}}

{{#if showSecondFlytoDialog}}
  <LiquidTether @to="flyto-dialog" @target="document.body" @targetModifier="visible" @attachment="top right" @targetAttachment="top right" @offset="-20px 40px" @tetherClass="modal-dialog" @overlayClass="modal-backdrop">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Another Modal</h4>
      </div>

      <div class="modal-body">
        <p>
          This modal came in from the right instead of fading. The next modal
          will also slide in from the right, while the previous modal will slide
          in from the left, maintaing spacial context.
        </p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default btn-embossed" type="button" {{action "prevFlytoDialog"}}>Back</button>
        <button class="btn btn-primary btn-embossed" type="button" {{action "nextFlytoDialog"}}>Next</button>
      </div>
    </div>
  </LiquidTether>
{{/if}}

{{#if showThirdFlytoDialog}}
  <LiquidTether @to="flyto-dialog" @target="document.body" @targetModifier="visible" @attachment="bottom center" @targetAttachment="bottom center" @offset="20px 0" @tetherClass="modal-dialog" @overlayClass="modal-backdrop">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Another Modal</h4>
      </div>

      <div class="modal-body">
        <p>
          This is the last modal! It'll fade out when you finish the dialog.
        </p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default btn-embossed" type="button" {{action "prevFlytoDialog"}}>Back</button>
        <button class="btn btn-primary btn-embossed" type="button" {{action "closeFlytoDialog"}}>Finish</button>
      </div>
    </div>
  </LiquidTether>
{{/if}}
