<nav class="main-nav hidden-xs">
  <h1>Liquid Tether</h1>
  {{link-to 'Introduction' 'index'}}

  {{link-to 'The Basics' 'basics'}}
  {{link-to 'Parameters' 'basics' (query-params a="parameters") class="subnav"}}
  {{link-to 'Transitions' 'basics' (query-params a="transitions") class="subnav"}}
  {{link-to 'DOM Structure and Styles' 'basics' (query-params a="dom-structure-and-styles") class="subnav"}}

  {{link-to 'Examples' 'examples'}}
  {{link-to 'Hello World' 'examples' (query-params a="hello-world") class="subnav"}}
  {{link-to 'Animation With Context' 'examples' (query-params a="animation-with-context") class="subnav"}}
  {{link-to 'Routed Tethers' 'examples' (query-params a="routed-tethers") class="subnav"}}
  {{link-to 'Moving Modals' 'examples' (query-params a="moving-modals") class="subnav"}}
  {{link-to 'Liquid Wormhole' 'examples' (query-params a="liquid-wormhole") class="subnav"}}
</nav>

<div class="main-container">
  {{outlet}}
</div>
